<div class="main-container">
					
		
					
		
					
		
					
		
					
		
					
		<footer class="footer-3 bg--white text-center-xs">
		    <div class="col-sm-3">
		        <img alt="logo" class="logo" src="img/logo-dark.png"> <span>(03) 9837
		        4782</span> <a class="type--underline" href="#">hello@pillarstudio.net</a>
		    </div>
		    <div class="col-sm-6 text-center">
		        <ul class="footer__navigation">
		            <li class="vpe">
		                <a href="#">About</a>
		            </li>
		            <li class="vpe">
		                <a href="#">Terms</a>
		            </li>
		            <li class="vpe">
		                <a href="#">Careers</a>
		            </li>
		            <li class="vpe">
		                <a href="#">Contact</a>
		            </li>
		        </ul>
		    </div>
		    <div class="col-sm-3 text-right text-center-xs">
		        <ul class="social-list">
		            <li class="vpe">
		                <a href="#"><i class="socicon-twitter"></i></a>
		            </li>
		            <li class="vpe">
		                <a href="#"><i class="socicon-dribbble"></i></a>
		            </li>
		            <li class="vpe">
		                <a href="#"><i class="socicon-vimeo"></i></a>
		            </li>
		            <li class="vpe">
		                <a href="#"><i class="socicon-instagram"></i></a>
		            </li>
		        </ul><span class="type--fine-print">© Copyright <span class="update-year">2016</span> Medium Rare - All Rights Reserved</span>
		    </div>
		</footer>
		</div>