<nav id="navigation" role="navigation">
                <span class="mobile-nav" aria-hidden="true">
      Show nav
      <span></span>
                <span></span>
                <span></span>
                <span></span>
                </span>

    <div class="wrapper-full">
        <div id="logo">
            <a href="https://www.heroku.com/home">Heroku</a>
        </div>
        <div class="nav-wrapper">
            <ul class="main-nav">
                <li class="has-dropdown">
                    <a href="https://www.heroku.com/products">Products</a>
                    <ul class="dropdown">
                        <li><a class="bookends-icon platform" href="https://www.heroku.com/platform">Heroku Platform</a></li>
                        <li><a class="bookends-icon postgres" href="https://www.heroku.com/postgres">Heroku Postgres</a></li>
                        <li><a class="bookends-icon redis" href="https://www.heroku.com/redis">Heroku Redis</a></li>
                        <li><a class="bookends-icon kafka" href="https://www.heroku.com/kafka">Kafka on Heroku</a></li>
                        <li><a class="bookends-icon connect" href="https://www.heroku.com/connect">Heroku Connect</a></li>
                        <li><a class="bookends-icon enterprise" href="https://www.heroku.com/enterprise">Heroku Enterprise</a></li>
                        <li><a class="bookends-icon teams" href="https://www.heroku.com/teams">Heroku Teams</a></li>
                    </ul>
                </li>
                <li class="has-dropdown">
                    <a href="https://elements.heroku.com/">Elements</a>
                    <ul class="dropdown">
                        <li><a class="bookends-icon addons" href="https://elements.heroku.com/addons">Add-ons</a></li>
                        <li><a class="bookends-icon buttons" href="https://elements.heroku.com/buttons">Buttons</a></li>
                        <li><a class="bookends-icon buildpacks" href="https://elements.heroku.com/buildpacks">Buildpacks</a></li>
                        <li><a class="bookends-icon elements" href="https://www.heroku.com/elements">About</a></li>
                    </ul>
                </li>
                <li><a id="pricing-head" href="https://www.heroku.com/pricing">Pricing</a></li>
                <li><a id="doc-head" href="https://devcenter.heroku.com/">Documentation</a></li>
                <li><a href="https://www.heroku.com/support">Support</a></li>
                <li class="has-dropdown">
                    <a class="nav-more" href="https://www.heroku.com/#">More</a>
                    <div class="dropdown more">
                        <section class="more-resources">
                            <span class="more-title">Additional Resources</span>
                            <ul>
                                <li><a href="https://www.heroku.com/what">What is Heroku?</a></li>
                                <li><a href="https://www.heroku.com/help">Help</a></li>
                                <li><a href="https://www.heroku.com/customers">Customers</a></li>
                                <li><a href="https://www.heroku.com/careers">Careers</a></li>
                                <li><a href="https://www.heroku.com/events">Events</a></li>
                            </ul>
                        </section>
                        <section class="more-languages">
                            <span class="more-title">Languages</span>
                            <ul>
                                <li><a href="https://www.heroku.com/nodejs">Node</a></li>
                                <li><a href="https://www.heroku.com/ruby">Ruby</a></li>
                                <li><a href="https://www.heroku.com/java">Java</a></li>
                                <li><a href="https://www.heroku.com/php">PHP</a></li>
                                <li><a href="https://www.heroku.com/python">Python</a></li>
                                <li><a href="https://www.heroku.com/go">Go</a></li>
                                <li><a href="https://www.heroku.com/scala">Scala</a></li>
                                <li><a href="https://www.heroku.com/clojure">Clojure</a></li>
                            </ul>
                        </section>
                        <section id="more-blog" class="more-blog">
                            <span class="more-title">Heroku Blog</span>
                            <h3><a class="js-blog-link" href="https://blog.heroku.com/ruby-2-4-features-hashes-integers-rounding">Ruby 2.4 Released: Faster Hashes, Unified Integers and Better Rounding</a></h3>
                            <p class="js-blog-date">2 days ago by Jonan Scheffler</p>
                            <p class="js-blog-content">
                            <p>The Ruby maintainers continued their annual tradition by gifting us a new Ruby version to celebrate the holiday: <a href="https://www.ruby-lang.org/en/news/2016/12/25/ruby-2-4-0-released/">Ruby...</a> <a href="https://blog.heroku.com/ruby-2-4-features-hashes-integers-rounding">Read More</a></p>
                            </p>
                            <a class="button btn-default btn-sm btn-inline" href="https://blog.heroku.com/">Visit Blog</a>
                        </section>
                    </div>
                </li>
            </ul>

            <ul class="tool-nav">
                <li class="user">
                    <a href="https://id.heroku.com/">Log in</a>
                    <span>or</span>
                    <a class="sign-up highlight" data-trackable="{&quot;category&quot;:&quot;Sign Up Links&quot;,&quot;action&quot;:&quot;Clicked&quot;,&quot;label&quot;:&quot;www-header&quot;}" href="https://signup.heroku.com/?c=70130000001x9jFAAQ">Sign up</a>
                </li>
            </ul>
        </div>

    </div>
</nav>
