<div class="nav-container">
</div>

<div class="main-container">
    <a id="media" class="in-page-link"></a>

    <section class="height-80 imagebg bg--primary" data-overlay="9">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>Edita, Compila y ejecuta.</h1>
                    <p class="lead">
                        Codelogs recolecta datos producto de tu actividad mientras programas, estos datos serviran para aplicar procesos de análisis.
                    </p>
                   
                </div>
            </div>
        </div>
    </section>

    <a id="content" class="in-page-link"></a>

    <section class="section section--overlap  boxed boxed--lg bg--white box-shadow ">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h5>Acerca de</h5>
                    <p>Hoy en día las investigaciones están encaminadas al análisis e identificación de patrones de comportamiento
                        de las personas a partir de grandes volúmenes de datos resultantes de sus actividades en el día a
                        día (Gurrin, Smeaton, &amp; Doherty, 2014). La programación de computadoras es una actividad humana
                        que no está exenta a procesos de análisis; sin embargo, este tipo de actividades requiere de datos
                        históricos y de herramientas que faciliten la recolección de los mismos. Este trabajo se enfoca en
                        el desarrollo de herramientas que ayudan a recolectar estos datos conforme el programador desarrolla
                        sus trabajos, de forma similar a wakatime.&nbsp;</p>
                    <h5>Recolección de datos&nbsp;</h5>
                    <p>
                        Los datos que se capturan son los siguientes, estos han sido seleccionados en base estudios y proyectos relacionados con
                        el análisis del aprendizaje en cursos introductorios de programación, puedes encontrar la bibliografia
                        en mendeley .bibtext</p>
                    <ul class="bullets">
                        <li>
                            Datos ambiente y comportamiento. (ambientes de programación)<br>
                        </li>
                        <li>
                            Recolección tiempos (tiempo, esfuerzo dedicado a una tarea)</li>
                        <li>
                            Métricas de código. (Análisis estatico de código)</li>
                        <li>
                            Problemas encontrados. (Compilaciones y ejecuciones)</li>
                    </ul>
                    <h5>Utilidad del Proyecto</h5>
                    <p>En la educación moderna la gran cantidad de datos que se generan producto de la interacción de los estudiantes
                        con los entornos de aprendizaje virtual ha sido el principal desencadenante en el desarrollo de nuevas
                        áreas de investigación: el análisis de aprendizaje y la minería de datos educativa son áreas de estudio
                        que han desarrollo y propuesto métricas para evaluar y dar seguimiento a los estudiantes con el objetivo
                        de mejorar la calidad de la educación. Por otro lado, la ingeniería de software conforme ha ido evolucionando
                        ha desarrollado métricas para evaluar: la calidad de los programas, &nbsp;la productividad de los
                        programadores, los procesos y la gestión de proyectos, etc.<br><br>En la práctica la programación
                        es llevada a cabo utilizando ambientes de desarrollo integrado (IDEs) o mediante editores simple
                        de texto ya sean estos de escritorio o basados en ambientes web. Las prácticas, ejercicios y tareas
                        se efectúan interactuando con estas herramientas, este tipo de interacciones genera datos que no
                        son visibles a simple vista como: la cantidad de tiempo que un estudiante invierte para desarrollar
                        sus tareas, el tiempo dedicado para practicar y adquirir habilidades de programación, la calidad
                        de las soluciones etc.<br><br>Estos datos aún no han sido aprovechados por las intituciones de educación,
                        debido a que actualmente no dispone de herramientas que ayuden a capturar estos datos de forma transparente.
                        ademas existen muy pocas herramientas de código abierto para recolección de estos datos, las existentes
                        solamente ofrecen plugins dejando la data en servidores remotos, dificultando el acceso a los datos
                        para aplicar procesos de análisis.&nbsp;Al no disponer de esta información es complejo de dar respuesta
                        a interrogantes que ayuden a comprender el proceso de aprendizaje de quienes inician en la programación:<br><br>-
                        &nbsp;¿Cuánto tiempo dedican los estudiantes a programar?<br>- ¿Cuales son los problemas mas comunes
                        encontrados al aprender?<br>- ¿El tiempo dedicado por los estudiantes de programación cumple los
                        requisitos mínimos solicitados por los componentes para adquirir las habilidades?<br>- ¿La calidad
                        de las soluciones (programas) está acorde al nivel de estudio? </p>
                    <h5> </h5>
                    <p> </p>
                    <p> </p>
                </div>
            </div>
        </div>
    </section>
</div>