<div class="">
    <div class="scrubber center">
        <div class="wrapper wrapper-lg">

            <div class="content">
                <h2>Codelogs monitorea tu programación</h2>
                <p>Setting up, operating and maintaining your own platform is not where the race is won. Avoid the risk and complexity, and dedicate your energy to what really matters: building great apps.</p>
            </div>

            <div class="scrubber-stage">
                <div class="scrubber-left">
                    <img alt="Write code" src="content/images/scrub/codify.svg">
                </div>
                <div class="scrubber-middle">
                    <div id="scrubber-handle" style="left: 694.516px;"></div>
                    <div class="scrubber-before" style="width: 1.48438px;">
                        <h4>…not infrastructure</h4>
                        <div></div>
                    </div>
                    <div class="scrubber-after" style="width: 694.516px;">
                        <h4>Build apps</h4>
                        <div></div>
                    </div>
                </div>
                <div class="scrubber-right">
                    <img alt="Write code" src="content/images/scrub/codify.svg">
                </div>
            </div>
            <div id="particles-js"></div>

        </div>
    </div>

</div>
<script>
    var url = "content/resourcesjs/rel.js";
    $.getScript(url);
</script>

