.home-page .purple {
  background-color: #107adc;
  background-image: -webkit-linear-gradient(top, #107adc, #107adc);
  background-image: linear-gradient(to bottom, #107adc, #107adc); }

.home-page .purple h2 {
  color: #fff; }

.home-page .purple p {
  color: #fff;
  color: rgba(255, 255, 255, 0.8); }

.home-page .scrubber {
  padding-top: 3em;
  cursor: ew-resize; }

.home-page .scrubber .content {
  max-width: 720px;
  margin: auto; }

#scrubber-handle {
  position: absolute;
  height: 110%;
  width: 8px;
  left: 50%;
  top: -5%;
  border-radius: 4px;
  background: #4A90E2;
  z-index: 100;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: visible; }

#scrubber-handle:before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30px;
  height: 20px;
  -webkit-transform: translateY(-50%) translateX(-50%);
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -o-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  background: #4A90E2;
  border-radius: 4px; }

.scrubber-stage {
  position: relative;
  margin: 60px 0 0; }

.scrubber-stage:after {
  content: "";
  display: table;
  clear: both; }

.scrubber-stage:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 5%;
  margin-top: -4px;
  height: 8px;
  width: 90%;
  background: #211746; }

.scrubber-stage .scrubber-middle {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  margin-right: 3.01887%;
  margin-bottom: 3.01887%;
  width: 65.66038%;
  vertical-align: top;
  position: relative;
  height: 400px;
  margin-bottom: 0; }

.scrubber-stage .scrubber-middle:last-child {
  margin-bottom: 0; }

.scrubber-stage .scrubber-middle > div {
  position: absolute;
  top: 0;
  overflow: hidden;
  height: 404px; }

.scrubber-stage .scrubber-middle > div > div {
  position: absolute;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center; }

.scrubber-stage .scrubber-left,
.scrubber-stage .scrubber-right {
  height: 330px; }

.scrubber-stage .scrubber-left img,
.scrubber-stage .scrubber-right img {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%); }

.scrubber-stage .scrubber-left {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  margin-right: 3.01887%;
  margin-bottom: 3.01887%;
  width: 14.15094%;
  vertical-align: top; }

.scrubber-stage .scrubber-left:last-child {
  margin-bottom: 0; }

.scrubber-stage .scrubber-left:nth-child(6n+6) {
  margin-right: 0; }

.scrubber-stage .scrubber-right {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  float: left;
  margin-right: 3.01887%;
  margin-bottom: 3.01887%;
  width: 14.15094%;
  vertical-align: top;
  margin-right: 0; }

.scrubber-stage .scrubber-right:last-child {
  margin-bottom: 0; }

.scrubber-stage .scrubber-right:nth-child(6n+6) {
  margin-right: 0; }

.scrubber-stage .scrubber-right img {
  top: 55%; }

.scrubber-stage .scrubber-before {
  right: 0; }

.scrubber-stage .scrubber-before > div {
  right: 0;
  width: 650px;
  background-size: 100%; }

.scrubber-stage .scrubber-after {
  left: 0;
  background-position: center 55%; }

.scrubber-stage .scrubber-after > div {
  width: 690px;
  background-image: url(/content/images/scrub/scrb_left.svg);
  background-size: 85%; }

.scrubber-stage h4 {
  position: relative;
  top: 0;
  margin-bottom: -27px;
  white-space: nowrap;
  color: white;
  font-weight: 200;
  font-size: 20px;
  font-weight: 400; }

.scrubber-mobile-stage {
  position: relative;
  margin: 30px auto 0 auto;
  width: 70%; }

.scrubber-mobile-stage:after {
  content: "";
  display: table;
  clear: both; }

.scrubber-mobile-stage:before,
.scrubber-mobile-stage:after {
  position: absolute;
  content: '';
  width: 100px;
  height: 100px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  top: 50%;
  z-index: 1; }

.scrubber-mobile-stage:before {
  background-image: url(/content/images/scrub/codify.svg);
  left: -94px;
  margin-top: -63px; }

.scrubber-mobile-stage:after {
  right: -100px;
  margin-top: -56px; }

.scrubber-mobile {
  display: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

@media (max-width: 1030px) {
  .scrubber {
    display: none; }
  .scrubber-mobile {
    display: block; } }

@media (max-width: 760px) {
  .scrubber-mobile-stage:before,
  .scrubber-mobile-stage:after {
    width: 75px;
    height: 75px; }
  .scrubber-mobile-stage:before {
    left: -68px;
    margin-top: -49px; }
  .scrubber-mobile-stage:after {
    right: -75px;
    margin-top: -42px; } }

@media (max-width: 550px) {
  .scrubber-mobile-stage {
    width: 75%; }
  .scrubber-mobile-stage:before,
  .scrubber-mobile-stage:after {
    width: 45px;
    height: 45px; }
  .scrubber-mobile-stage:before {
    left: -30px;
    margin-top: -30px; }
  .scrubber-mobile-stage:after {
    right: -30px;
    margin-top: -30px; } }
