<div class="main-container">
    <section class="height-30 imagebg bg--primary" data-overlay="8">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>DEV</h1>
                    <p class="lead">Historia del desarrollo</p>
                </div>
            </div>
        </div>
    </section>

    <div class="">
        <section class="process-1 process-end">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center">
                        <div class="piechart piechart-2" data-size="260" data-value="100">
                            <div class="piechart__overlay">
                                <div class="piechart__description">
                                    <h6>Phase I:</h6>
                                    <span class="h4">Insvestigación</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="feature feature-1 text-center">
                            <i class="icon icon-File-Search icon--lg"></i>
                            <h5>Investigación</h5>
                            <p>Los principales trabajos que han servido de base &nbsp;se encuentran en el repositorio de investigaciones,
                                estas &nbsp;han servido de base para identificar que los datos que son utiles en LA . Aunque
                                los programas desarrollados recolectan un conjunto predefinido de datos, estos pueden ampliarse
                                &nbsp;(consulte Anexo desarrollo)<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="process-1 process-end">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center">
                        <div class="piechart piechart-2" data-size="260" data-value="100">
                            <div class="piechart__overlay">
                                <div class="piechart__description">
                                    <h6>Phase II:</h6>
                                    <span class="h4">Prototipos</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="feature feature-1 text-center">
                            <i class="icon icon-Bio-Hazard icon--lg"></i>
                            <h5>Prototipos, experimentación y preparación de entorno de desarrolllo</h5>
                            <p>En esta fase se implemento prototipos, implementaron métricas &nbsp;se crearon librerias etc.
                                se omitieron aquellas características que extendian el tiempo para desarrollo (implementación
                                de métricas orientadas a Objetos). Al mismo tiempo se preparo el entorno para el desarrollo.<br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="process-1">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center">
                        <div class="piechart piechart-2" data-size="260" data-value="66">
                            <div class="piechart__overlay">
                                <div class="piechart__description">
                                    <h6>Phase III:</h6>
                                    <span class="h4">Desarrollo</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <div class="feature feature-1 text-right text-center-xs">
                            <i class="icon icon-Code-Window"></i>
                            <h5>Development</h5>
                            <p>Se diseño e implemento los componentes para conseguir los objetivos del TFT, cada componente
                                contiene su repositorio en total se cuenta con 10 artactos.&nbsp;<br>Cada artefacto cuenta
                                con un conjunto de pruebas para garantizar el funcionamiento sea el esperado.&nbsp;</p>
                        </div>
                    </div>
                    <div class="col-sm-5 col-sm-offset-2">
                        <div class="feature feature-1 text-center-xs">
                            <i class="icon icon-Loop"></i>
                            <h5>Integración continua</h5>
                            <p>Los repositorios principales estan configurados para trabajar con integración continua, cada
                                cambio es compilado, testeado integrado y deployado para reflejar los cambios de forma automatica,
                                minimizando esfuerzos de integración de los componentes.&nbsp;</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="process-1 process-end">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 col-sm-8 col-sm-offset-2 text-center">
                        <div class="piechart piechart-2" data-size="260" data-value="100">
                            <div class="piechart__overlay">
                                <div class="piechart__description">
                                    <h6>Phase IV:</h6>
                                    <span class="h4">Entregables</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="feature feature-1 text-center">
                            <i class="icon icon--lg icon-Box-Open"></i>
                            <h5>Deployment &amp; Support</h5>
                            <p>El servidor es ejecutado en Heroku &nbsp;, utilizando el perfil -Pprodembedded el cual ejecuta
                                los componentes y servicios de forma embebida: la razón es minimizar las restricciones de
                                Hardware , existen varios perfiles en donde se puede configurar para crear nodos especializados
                                para cada servicio .&nbsp;<br><br>Spyder, es distribuido como una aplicación en modo shell,
                                utilizado por pugin netbeans.<br><br></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="elements--title">
                        <h4>Futuros trabajos</h4>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature feature-3">
                        <div class="feature__left">
                            <i class="icon icon-Atom"></i>
                        </div>
                        <div class="feature__right">
                            <h6>Futuro....</h6>
                            <p>Los medios para recolectar ,almacenar y consumir datos estan desarrollados, &nbsp;se espera que
                                esta aplicación siga creciendo y que sirva para que los desarrolladores expongan su trabajo
                                y experiencia en base a los hechos hechos , producto de su programación en el día a día.
                                Permitiendo que otra gente pueda observar y conocer las habilidades que va adquiriendo en
                                los distintos lenguajes, formando sus propios perfiles y habilidades en base a los hechos<br></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature feature-3">
                        <div class="feature__left">
                            <i class="icon icon-Plug-In"></i>
                        </div>
                        <div class="feature__right">
                            <h6>Plugins</h6>
                            <p>Actualmente spyder puede ejecutarse incluso &nbsp;en modo shell y seguir escuchando los eventos
                                de programación, sin embargo es preferible que estos procesos sean transparentes como lo
                                es con Netbeans, para futuro se busca desarrollar plugins para sublime, vscode, intellij
                                etc.&nbsp;
                                <br><br><br><br></p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="feature feature-3">
                        <div class="feature__left">
                            <i class="icon icon-Arrow-Down3"></i>
                        </div>
                        <div class="feature__right">
                            <h6>Migración a angular2</h6>
                            <p> Cuando se dio comienzo al &nbsp;desarrollo de las aplicaciones web, angular 2 aun estaba en fase
                                de pruebas por lo cual no fue adecuado utilizar esa versión para aquel tiempo, hoy las cosas
                                han cambiado y se busca migrar estas aplicaciones a A2.&nbsp;</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </section>
</div>