<section class="height-80 imagebg bg--primary " data-overlay="9">
    <div class="background-image-holder">
        <img alt="pic" src="content/images/home.jpg">
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 ng-show="success" data-translate="social.register.title" translate-values="{ label: vm.providerLabel }">Registration with</h1>
                <h1 ng-show="error" data-translate="social.register.errorTitle">Registration</h1>

                <div class="alert alert-success" ng-show="vm.success" data-translate="social.register.messages.success">
                    <strong>Registration saved!</strong> Please check your email for confirmation.
                </div>

                <div class="alert alert-danger" ng-show="vm.error" data-translate="social.register.messages.error.fail">
                    <strong>Registration failed!</strong> Please try again later.
                </div>

                <jh-social ng-if="vm.success" ng-provider="{{ vm.provider }}"></jh-social>
                <br/>
                <div class="alert alert-warning" data-translate="global.messages.info.authenticated">
                    If you want to <a class="alert-link" href="#/login">sign in</a>, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").
                </div>
            </div>
        </div>
    </div>
</section>
