<div class="main-container">
       <section class="height-40 imagebg bg--primary" data-overlay="8">
        <div class="container pos-vertical-center">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h1>CARACTERISTICAS</h1>
                    <p class="lead">CODELOGS</p>
                </div>
            </div>
        </div>
    </section>
		<section>
				<div class="container">
					<div class="row">
						<div class="col-sm-12">
							<div class="elements--title">
								<h4>Implementadas</h4>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="feature feature-2">
								<div class="feature__title">
									<i class="icon icon-Arrow-Right2"></i>
									<h6>Shell</h6>
								</div>
								<p>Iinterprete de comandos, implementa su propia shell, permite interactuar con spyder : abrir una sesión de trabajo, monitorear un proyecto , lanzar un monitor como un proceso independiente etc. &nbsp;facilitando el desarrollo de nuevos plugins.&nbsp;<br><br>Disponible : Windows/Linux/Mac<br></p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="feature feature-2">
								<div class="feature__title">
									<i class="icon icon-Auto-Flash"></i>
									<h6>Análsis automatico</h6>
								</div>
								<p>Ejecutar análisis estático conlleva un gran uso de recursos, el análisis automático maneja este problema aplicando únicamente : &nbsp;algoritmos de diferenciación de código, métricas de tiempos, esfuerzo y actualización de LOC.&nbsp;<br><br>Disponible : Todos los lenguajes.&nbsp;<br><br><br></p>
							</div>
						</div><div class="col-sm-4">
							<div class="feature feature-2">
								<div class="feature__title">
									<i class="icon icon-Coffee"></i>
									<h6>JAVA SOPORTE&nbsp;</h6>
								</div>
								<p>Soporte para java, se han desarrollado herramientas que permiten extender el núcleo de maven para capturar los problemas tanto de compilación como de ejecución de los programas que desarrollan los estudiantes, para tomar acciones.<br><br>Disponible : &nbsp;JDK 8<br><br></p>
							</div>
						</div><div class="col-sm-4">
							<div class="feature feature-2">
								<div class="feature__title">
									<i class="icon icon-Cube-Molecule"></i>
									<h6>Netbeans</h6>
								</div>
								<p>Plugin para integrar spyder a netbean, todas las configuraciones ajustes, inicio automático etc. puede ser configurado desde la opciones de Netbeans, &nbsp;empezando a trabajar únicamente cuando se detecta programación en algún lenguaje.&nbsp;<br>Disponible : Netbeans 8.1<br><br></p>
							</div>
						</div><div class="col-sm-4">
							<div class="feature feature-2">
								<div class="feature__title">
									<i class="icon icon-Line-Chart4"></i>
									<h6>Estadisticos</h6>
								</div>
								<p>Aplicación web para la visualización de datos, aunque no esta terminada totalmente la intención es mostrar la utilidad de los datos, como estos pueden aportar información tanto para docentes como estudiantes.&nbsp;<br><br>Disponible : Chrome 24+ , Firefox 32+ , Edge<br><br></p>
							</div>
						</div><div class="col-sm-4">
							<div class="feature feature-2">
								<div class="feature__title">
									<i class="icon icon-Settings-Window"></i>
									<h6>análisis &nbsp;de codigo</h6>
								</div>
								<p>Componentes para recolectar métricas de código (conjunto mas amplio únicamente para java), este conjunto recolecta datos acerca de la calidad del código que el estudiante ha desarrollado.&nbsp;<br><br>Disponible : Java<br><br></p>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="feature feature-2">
								<div class="feature__title">
									<i class="icon icon-Sync-Cloud"></i>
									<h6>Trabajo offline</h6>
								</div>
								<p>Puedes trabajar en entornos sin conexión, y luego sincronizar los datos recolectados con los servidores &nbsp;cuando dispongas de una conexión . &nbsp;los datos nunca se pierden por falta de conectividad.&nbsp;<br><br>Disponible: Todos los lenguajes<br><br></p>
							</div>
						</div><div class="col-sm-4">
							<div class="feature feature-2">
								<div class="feature__title">
									<i class="icon icon-Box-Open"></i>
									<h6>open source</h6>
								</div>
								<p>Todo el código esta publicado bajo la licencia MIT, lo que significa que puedes modificar, mejorar sin necesidad &nbsp;autorización.<br><br><br>Disponible : Todos los interesados.&nbsp;<br><br><br></p>
							</div>
						</div><div class="col-sm-4">
							<div class="feature feature-2">
								<div class="feature__title">
									<i class="icon icon-Cube-Molecule2"></i>
									<h6>REST API</h6>
								</div>
								<p>API REST es medio en como interactuar spyder con los servidores, se proporciona una API para el consumo de datos.&nbsp;<br><br><br>Disponible : HATEAOS, search a<br><br><br></p>
							</div>
						</div><div class="col-sm-4">
							<div class="feature feature-2">
								<div class="feature__title">
									<i class="icon icon-Flash-2"></i>
									<h6>MAVEN TOOLS</h6>
								</div>
								<p>MVN core extensiones<br>Disponible : Maven 3.3.x<br></p>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>