<div class="main-container">
    <div class="main-container">

        <section class="height-80 imagebg bg--primary" data-overlay="9">
            <div class="background-image-holder">
                <img alt="pic" src="content/images/code.gif">
            </div>
            <div class="container pos-vertical-center">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <h1>Accede  stats.</h1>
                        <p class="lead">
                            Nuevo mira el video tutorial, para darte una idea la utildiad
                        </p>
                        <div class="modal-instance modal-video-1">
                            <div class="video-play-icon video-play-icon--sm modal-trigger"></div>
                            <span class="h6">See How It Works</span>
                            <div class="modal-container">
                                <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                                    <iframe allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/4QUVRm4UZA4?autoplay=1"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div class="container col-md-12 section--overlap section--overlap-x2">
        <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2  boxed boxed--lg bg--white box-shadow ">
            <div class="elements--title text-center">
                <div class="col-md-12">
                    <div class="row pos-vertical-align-columns">
                        <div class="col-md-8 col-sm-12 col-md-offset-2">
                            <div class="form-subscribe-1 text-center ">
                                <h4 data-translate="login.title">Welcome! Sign in</h4>
                                <form class="form" role="form" ng-submit="vm.login($event)" ng-submit="vm.login($event)">
                                    <div class="input-with-icon">
                                        <label for="username" data-translate="global.form.username">Your Username</label>
                                        <i class="icon icon-Alien-2"></i>
                                        <input type="text" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="vm.username">
                                    </div>
                                    <div class="input-with-icon">
                                        <label for="password" data-translate="global.form.password">Password</label>
                                        <i class="icon icon-Password-Field"></i>
                                        <input type="password" id="password" placeholder="{{'global.form.password.placeholder' | translate}}" ng-model="vm.password">
                                    </div>
                                    <div class="form-group">
                                        <label for="rememberMe">
                                        <input type="checkbox" id="rememberMe" ng-model="vm.rememberMe" checked>
                                        <span data-translate="login.form.rememberme">Remember me</span>
                                    </label>
                                    </div>
                                    <button type="submit" class="btn btn-primary" data-translate="login.form.button">Sign in</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <div class="row">
                            <br>
                            <div>
                                <div class="col-md-6">
                                    <jh-social ng-provider="google"></jh-social>
                                </div>
                                <div class="col-md-6">
                                    <jh-social ng-provider="facebook"></jh-social>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <p></p>
                                <div class="alert alert-warning">
                                    <a class="alert-link" href="" ng-click="vm.requestResetPassword()" data-translate="login.password.forgot">Did you forget your password?</a>
                                </div>
                                <div class="alert alert-warning" data-translate="global.messages.info.register" translate-compile>
                                    You don't have an account yet? <a class="alert-link" href="" ng-click="vm.register()">Register a new account</a>
                                </div>
                                <br/>
                                <div class="row box">
                                    <div class="col-md-12 col-md-offset">
                                        <div class="alert alert-danger" ng-show="vm.authenticationError" data-translate="login.messages.error.authentication">
                                            <strong>Failed to sign in!</strong> Please check your credentials and try again.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
