<div class="col-md-12   boxed boxed--lg bg--white box-shadow ">
    <div class="row box">
        <div class="col-md-12 col-md-offset">
            <div class="alert alert-danger" ng-show="vm.authenticationError" data-translate="login.messages.error.authentication">
                <strong>Failed to sign in!</strong> Please check your credentials and try again.
            </div>
        </div>
    </div>
    <div class="elements--title text-center">
        <div class="col-md-12">
            <div class="row pos-vertical-align-columns">
                <div class="col-md-8 col-sm-12 col-md-offset-2">
                    <div class="form-subscribe-1 text-center ">
                        <h4 data-translate="login.title">Welcome! Sign in</h4>
                        <form class="form" role="form" ng-submit="vm.login($event)" ng-submit="vm.login($event)">
                            <div class="input-with-icon">
                                <label for="username" data-translate="global.form.username">Your Username</label>
                                <i class="icon icon-Alien-2"></i>
                                <input type="text" id="username" placeholder="{{'global.form.username.placeholder' | translate}}" ng-model="vm.username">
                            </div>
                            <div class="input-with-icon">
                                <label for="password" data-translate="global.form.password">Password</label>
                                <i class="icon icon-Password-Field"></i>
                                <input type="password" id="password" placeholder="{{'global.form.password.placeholder' | translate}}" ng-model="vm.password">
                            </div>
                            <div class="form-group">
                                <label for="rememberMe">
                                        <input type="checkbox" id="rememberMe" ng-model="vm.rememberMe" checked>
                                        <span data-translate="login.form.rememberme">Remember me</span>
                                    </label>
                            </div>
                            <button type="submit" class="btn btn-primary" data-translate="login.form.button">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-md-offset-2">
                <div class="row">
                    <br>
                    <div>
                        <div class="col-md-6">
                            <jh-social ng-provider="google"></jh-social>
                        </div>
                        <div class="col-md-6">
                            <jh-social ng-provider="facebook"></jh-social>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <p></p>
                        <div class="alert alert-warning">
                            <a class="alert-link" href="" ng-click="vm.requestResetPassword()" data-translate="login.password.forgot">Did you forget your password?</a>
                        </div>
                        <div class="alert alert-warning" data-translate="global.messages.info.register" translate-compile>
                            You don't have an account yet? <a class="alert-link" href="" ng-click="vm.register()">Register a new account</a>
                        </div>
                        <br/>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>