<div class="nav-container">
		  
		
		    <nav>
		        <div class="nav-bar nav-bar nav--absolute nav--transparent"" data-fixed-at="700">
		            <div class="nav-module logo-module left">
		               <a href="index.html"><img alt="logo" class="logo logo-dark" src="content/images/logo-dark.svg"> <img alt="logo" class="logo logo-light" src="content/images/logo-ligth.svg"></a>
		            </div>
		            <div class="nav-module menu-module left">
		                <ul class="menu">
		                    <li class="vpe">
		                        <a href="#">Single</a>
		                    </li>
		                    <li>
		                        <a href="#">Dropdown</a>
		                        <ul>
		                            <li>
		                                <a href="#">Single</a>
		                            </li>
		                            <li class="dropdown">
		                                <a href="#">Dropdown</a>
		                                <ul>
		                                    <li>
		                                        <a href="#">Single</a>
		                                    </li>
		                                </ul>
		                            </li>
		                        </ul>
		                    </li>
		                    <li>
		                        <a href="#">Multi Column</a>
		                        <ul class="multi-column">
		                            <li>
		                                <ul>
		                                    <li><span class="multi-column__title">Title</span></li>
		                                    <li>
		                                        <a href="#">Single</a>
		                                    </li>
		                                </ul>
		                            </li>
		                            <li>
		                                <ul>
		                                    <li><span class="multi-column__title">Title</span></li>
		                                    <li>
		                                        <a href="#">Single</a>
		                                    </li>
		                                </ul>
		                            </li>
		                        </ul>
		                    </li>
		                </ul>
		            </div>
		        </div>
		        <div class="nav-mobile-toggle visible-sm visible-xs">
		            <i class="icon-Align-JustifyAll icon icon--sm"></i>
		        </div>
		    </nav>
		
		</div>