<div class="nav-bar nav--absolute nav--transparent">
    <div class="nav-module logo-module left">
        <a href="index.html"><img alt="logo" class="logo logo-dark" src="content/images/logo-dark.svg"> <img alt="logo"
                                                                                                             class="logo logo-light"
                                                                                                             src="content/images/logo-ligth.svg"></a>
    </div>
    <div class="nav-module menu-module left">
        <ul class="menu">
            <li class="vpe">
                <a ui-sref="home">Home</a>
            </li>
            <li class="vpe">
                <a ui-sref="features">Caracteristicas</a>
            </li>

            <li class="vpe">
                <a ui-sref="lifecycle">Ciclo de desarrollo</a>
            </li>
            <li class="vpe">
                <a ui-sref="about">El proyecto..</a>
            </li>
            <li>
                <a href="#seprador">Interes</a>
                <ul class="multi-column">
                    <li>
                        <ul>
                            <li><span class="multi-column__title">bibliografia</span></li>
                            <li>
                                <a href="#seprador">Mendely</a>
                            </li>
                            <li>
                                <a href="#seprador">Google Docs</a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <ul>
                            <li><span class="multi-column__title">repositorios</span></li>
                            <li>
                                <a href="/">Backend</a>
                            </li>
                            <li>
                                <a href="/">FrontEnd</a>
                            </li>
                            <li>
                                <a href="/">Spyder</a>
                            </li>
                            <li>
                                <a href="/">Plugins</a>
                            </li>
                            <li>
                                <a href="/">Shells</a>
                            </li>
                            <li>
                                <a href="/">Docker files</a>
                            </li>
                        </ul>
                        <ul>
                            <br>
                            <li><span class="multi-column__title">comunicación</span></li>
                            <li>
                                <a href="#seprador">Slack</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>

        </ul>
    </div>
    <div class="nav-module right">
        <a href="#" class="nav-function modal-trigger" data-modal-id="search-form">
            <i class="interface-down-open-big icon icon--sm"></i>
            <span>Search</span>
        </a>
    </div>
    <div class="nav-module right">
        <ul class="menu" ng-switch="vm.isAuthenticated()">
            <li class="vpe" ng-switch-when="false">
                <a ng-click="vm.login()">Ingresar</a>
            </li>
            <li class="vpe" ng-switch-when="false">
                <a ui-sref="register">Registrar</a>
            </li>
            <li class="vpe" ng-switch-when="true">
                <a href="#seprador">Interes</a>
                <ul class="multi-column">
                    <li>
                        <ul>
                            <li><span class="multi-column__title">bibliografia</span></li>
                            <li>
                                <a ng-click="vm.logout()">logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<div class="nav-mobile-toggle visible-sm visible-xs">
    <i class="icon-Align-JustifyAll icon icon--sm"></i>
</div>
