
<div class="main-container">
    <section class="imagebg section--even parallax" data-overlay="5">
        <div class="background-image-holder">
            <img alt="image" src="content/images/home.jpg">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1 text-center">
                    <a class="btn vpe" href="#">
                        <span class="btn__text">
									<i class="socicon-apple"></i>&nbsp; Download for iOS
								</span>
                    </a>
                    <a class="btn vpe" href="#">
                        <span class="btn__text">
									<i class="socicon-play"></i>&nbsp; Download for Android
								</span>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                    <div class="elements--title text-center">
                        <h4>One Open</h4>
                    </div>
                    <ul class="accordion accordion--oneopen">
                        <li>
                            <div class="accordion__title">
                                <span class="h5">Getting Started</span>
                            </div>
                            <div class="accordion__content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="accordion__title">
                                <span class="h5">Working with HTML</span>
                            </div>
                            <div class="accordion__content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
                                </p>
                            </div>
                        </li>
                        <li class="active">
                            <div class="accordion__title">
                                <span class="h5">Editing CSS</span>
                            </div>
                            <div class="accordion__content">
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex
                                    ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
</div>