<form action="{{ providerURL }}" method="POST">
    <button type="submit" class="btn btn-block  jh-btn-social jh-btn-{{ provider }} btn--sm bg--{{ provider }}">
        <span class="btn__text"  translate-values="{label:label}">Sign in with {{ label }}</span>
    </button>
    <input name="scope" type="hidden" value="{{ providerSetting }}"/>
    <input name="_csrf" type="hidden" value="{{ csrf }}"/>
</form>

