<section class="height-100 imagebg cover cover-4 parallax" data-overlay="4" >
    <div class="background-image-holder background--bottom" id="particles-js">
        <img alt="image" src="content/images/home.jpg">
    </div>
    <div class="container pos-vertical-center" >
        <div class="row">
            <div class="col-sm-12 text-center">
                <h1>
                    Métricas, percepciones y datos recolectados sobre tu
                    programación</h1>
                <p class="lead">__________________________</p>
                <div>
                    <a class="btn btn--lg btn--primary mb--1" href="/codestat.html">
                                <span class="btn__text">
                                    Ir a Stats!!
                                </span>
                    </a>
                    <div class="modal-instance modal-video-1">
                        <div class="video-play-icon video-play-icon--sm modal-trigger"></div>
                        <span class="h6">Watch Overview</span>
                        <div class="modal-container">
                            <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                                <iframe allowfullscreen="allowfullscreen"
                                        src=""></iframe>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="main-container">
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h3>Datos recolectados</h3>
                    <p class="lead">
                        El grupo de datos a recolectar se enfoca en tres areas : comportamiento, calidad y problemas,
                        los datos de captura se han definido a partir de un conjunto de investigaciones existentes.
                    </p>
                </div>
            </div>
        </div>
    </section>
</div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="feature feature-1 text-center">
                    <i class="icon color--primary icon-Code-Window icon--lg"></i>
                    <h5>Mientras programas</h5>
                    <p>Spyder recolecta los datos, tras cada cambio en el código, los datos se almacenan localmente y se
                        sincronizan con los servidores de codelogs.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature feature-1 text-center">
                    <i class="icon color--primary icon-Over-Time2 icon--lg"></i>
                    <h5>Recolectamos datos</h5>
                    <p>Temporales, métricas de código y problemas encontrados en el desarrollo.<br>actualmente las
                        métricas de código estan enfocadas para java.</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature feature-1 text-center">
                    <i class="icon color--primary icon-Statistic icon--lg"></i>
                    <h5>Te proporcionamos retroalmentación<br></h5>
                    <p>Proporcionando APIS REST, para crear visualizaciones sobre tu actividad de programación,
                        utilizando gráficos estadisticos.&nbsp;</p>
                </div>
            </div>
        </div>
    </div>

<a id="lifecycle" class="in-page-link"></a>

<section class="height-80 imagebg bg--primary " data-overlay="9">
    <div class="background-image-holder">
        <img alt="pic" src="content/images/home.jpg">
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="text-center col-sm-12">
                <h1>CODIFICA, CONSTRUYE Y EJECUTA.</h1>
                <p class="lead">
                    La recolección de datos se basa en tres fases fundamentales del ciclo, los datos se recolectan
                    automaticamente, &nbsp;se almacenan localmente y se sincronización con los servidores de codelogs
                    para análsisis futuros.&nbsp;<br></p>
                <div class="modal-instance modal-video-1">
                    <div class="video-play-icon video-play-icon--sm modal-trigger"></div>
                    <span class="h6">See How It Works</span>
                    <div class="modal-container">
                        <div class="modal-content bg-dark" data-width="60%" data-height="60%">
                            <iframe allowfullscreen="allowfullscreen"
                                    src="https://www.youtube.com/embed/4QUVRm4UZA4?autoplay=1"></iframe>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="cta cta-6">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1 text-center">
                <h3> Aporta en el desarrollo</h3>
                <p class="lead">
                    We'd love to hear from you to discuss web design, product development or to hear your new startup
                    idea.
                </p>
                <a class="btn btn--primary vpe" href="page-contact-form-simple.html">
                    <span class="btn__text">REPOSITORIOS</span>
                </a>
            </div>
        </div>
</section>


<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="elements--title">
                    <h4>Repositorios de desarrollo.&nbsp;</h4>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature feature-2">
                    <div class="feature__title">
                        <i class="icon icon-Address-Book2"></i>
                        <h6>Documentación</h6>
                    </div>
                    <p>Puedes encontrar la documentación del proyecto, una guia rapida de codelogs para quienes busquen
                        mejorar este proyecto. </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature feature-2">
                    <div class="feature__title">
                        <i class="icon icon-Robot-2"></i>
                        <h6>Spyder</h6>
                    </div>
                    <p> Programa que se ejecuta como un servicio a nivel del OS, es el encargado de recolectar datos,
                        metricas escucha el sistema de archivos o eventos de los IDES. </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature feature-2">
                    <div class="feature__title">
                        <i class="icon icon-Plug-In"></i>
                        <h6>Plugin netbeans </h6>
                    </div>
                    <p>Plugin para netbeans que facilita la instalación de Spyder, este plugin ofrece contiene una
                        distribución embebida de spyder que se ejecuta cuando el programador comienza a trabajar en un
                        proyecto. </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature feature-2">
                    <div class="feature__title">
                        <i class="icon icon-Server"></i>
                        <h6>Servidor&nbsp;</h6>
                    </div>
                    <p>PProporciona las APIs REST tanto para Spyder como para las aplicaciones web, consumo y registro
                        de datos recolectados. </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature feature-2">
                    <div class="feature__title">
                        <i class="icon icon-Firefox"></i>
                        <h6>aplicaciones web</h6>
                    </div>
                    <p>Contiene las aplicaciones web desarrolladas, actulamente son dos, el modulo publico y modulo
                        stats, estas aplicaciones son de utilidad para para cumplir los objetivos de visualizaciones de
                        este TFT. </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="feature feature-2">
                    <div class="feature__title">
                        <i class="icon icon-File-TextImage"></i>
                        <h6>docker files</h6>
                    </div>
                    <p>Archivos docker para construir las imagenes de ambiente de desarrollo y despliegue de las
                        aplicaciones. </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="purple imagebg bg--primary" data-overlay="9">
    <div class="background-image-holder background--bottom" id="particles-js">
        <img alt="image" src="content/images/home.jpg">
    </div>
    <section class="container">
        <code-scrub></code-scrub>
    </section>
</section>
<script>
    var urlConfigs = "content/resources/particlesjs-config.json";
    /* particlesJS.load(@dom-id, @path-json, @callback (optional)); */
    particlesJS.load('particles-js', urlConfigs, function () {
        console.log('callback - particles.js config loaded');
    });
</script>
