
.btn-primary, .btn-xl,  h6 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: none;
}
.h6, h6 {
    font-size: 19px;
}
.navbar-custom.affix{
    background:#512fad;
    color: white;
    -webkit-box-shadow: 4px 0px 3px rgba(0, 0, 0, 0.45);
    -moz-box-shadow:    4px 0px 3px rgba(0, 0, 0, 0.45);
    box-shadow:         4px 0px 3px rgba(0, 0, 0, 0.45);
}
.navbar-custom.affix li a{
    color: white;
}
.navbar-custom.affix .navbar-brand{
    color: white;
}
.navbar-custom .navbar-nav > .active > a{
    background: rgb(255, 255, 255);
    color: #512fad;
}
.navbar-custom.affix img{
    color: white;
}
.navbar-default {
    background-color: transparent;
    color: white;
}

.particulas{
    position: absolute; width: 100%;
    height: 100%;
    text-align: center;
    top: 0px;
    background-color: rgba(6, 6, 6, 0.85);
}

.editor-icon img {
    height: 70px;
    margin-bottom: 6px;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
#testimonials {
    background: #35434f;
    background-color: #35434f;
    color: #fff;
    width: 100%;
}

body{
    color: #555;
}
.whitelink{
    color: white;
}
.backhead{
    z-index: -2;
    position: absolute; width: 100%;
    height: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.61);
    top: 0px;
    filter:blur(4px);
    -o-filter:blur(4px);
    -ms-filter:blur(4px);
    -moz-filter:blur(4px);
    -webkit-filter:blur(4px);
}
.backhead img{
    height: 100%;
    width: 100%;
    opacity: 0.5;
    margin: 0 auto;
}
#intro{
    position: relative;
    color: #f4f1ff;
    z-index: 2;
    text-align: center;
}
#services  .galery{
    text-align: center;
    margin: 0 auto;
}
#services  img{
  width: 100vh;
}
.timeline .link .timeline-image:hover{
    background-color: #ffa031;
}
